%html
  %head
    = bootstrap_assets
    %link{:rel => :stylesheet, :href => "#{@config["editor_root"]}/static/layout.css"}
  %body
    - container :fixed do
      %body
        .navbar.navbar-fixed-top
          .navbar-inner
            .container
              %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
                %span.icon-bar
                %span.icon-bar
                %span.icon-bar
              %a.brand{:href => @config["editor_root"]} Post Editor
              .container.nav-collapse
                -#
                  %ul.nav
                    %li= link_to "Post Editor", "#{@config["editor_root']}/posts"
      - row do
        - span12 do
          = yield
