.page-header
  %h1= @post.data["title"]

#epiceditor

.form-actions
  %a{:href => "#", :onclick => "saveToPostFile();", :class => "btn btn-primary"} Write
  %a{:href => @config["editor_root"], :class => "btn"} Back to Post Index

%a{:name => "preview"}
#previewlabel
  %strong Preview:
#reloadbutton
  %button{:onclick => "reloadPreviewFrame()"} Reload Manually
#previewframe
  %iframe#octopreview{:src => "http://linode.jarsonmar.org/" + @post.url}

%script{:src => "#{@config["editor_root"]}/static/epiceditor/js/epiceditor.min.js"}
:javascript
  var editor = new EpicEditor({
    container: 'epiceditor',
    localStorageName: #{"posts-#{@post}".to_json},
    basePath: #{@config["editor_root"].to_json} + '/static/epiceditor/',
    file: {
      defaultContent: #{@post.content.to_json}
    },
    theme: {
      base: #{'themes/base/epiceditor.css'.to_json},
      preview: #{'themes/preview/github.css'.to_json},
      editor: #{'themes/editor/epic-dark.css'.to_json},
    }
  });
  editor.load();

  function saveToPostFile(preview) {
    jQuery.post(
      #{"#{@config["editor_root"]}/save/#{@post.name}".to_json},
      {content: editor.exportFile()},
      function(d) { reloadPreviewFrame(); }
    );
  }

  function reloadPreviewFrame() {
    // Force-reload the iframe
    document.getElementById('octopreview').src += '';
  }
